@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
  color: darkslategrey;
  font-family: arial, sans-serif;
  font-size: 17px;
}

.text-center {
  text-align: center;
}

#copyright {
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-size: 30px;
  font-family: 'Audiowide', cursive;
  font-size: 30px;
}

h2 {
  font-size: 24px;
  background-color: lightskyblue;
  border-radius: 5px;
}

h1,
h2,
a,
a:visited {
  color: darkblue;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 a,
h1 a:visited {
  color: white;
}
h2 a,
h2 a:visited {
  color: lightskyblue;
}
h1:hover a,
h2:hover a {
  color: darkblue;
}

.material-icons {
  font-size: 1rem;
}

p,
.material-icons {
  line-height: 1.5rem;
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid darkblue;
  border-radius: 5px;
}

.btn i {
  margin-right: 0.5rem;
}

.btn:hover {
  color: white;
  background-color: darkblue;
  text-decoration: none;
}

#social {
  text-align: center;
  color: white;
  font-size: 2rem;
}

#social a:hover {
  text-decoration: none;
}

#social .fa-square-facebook {
  color: navy;
}

#social .fa-square-twitter {
  color: dodgerblue;
}

#social .fa-linkedin {
  color: navy;
}

#social li {
  display: inline;
}

/* 
  media expression
    media type: print, screen
    media features: min-width, orientation
    logical operator: and, or

  - print
  - screen
  - screen and (min-width: 700px)
*/
@media print {
  body,
  h1,
  h2,
  a,
  h2 a {
    color: black;
    font-family: Times, serif;
  }

  h1#elon {
    text-align: left;
  }

  h2 {
    background-color: unset;
  }

  p a.topo {
    color: transparent;
  }
}
