:root {
  --color-highlight: #ff0000;
  --font-size-regular: 20px;
}

.color-red {
  color: var(--color-highlight);
}

.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

.font-lower {
  text-transform: lowercase;
}
